th:hover {
  background-color: #1E1E1E !important;
}

tr:hover {
  background-color: #262626 !important;
}

tr td, tr th {
  text-align: center !important;
}

td {
  vertical-align : middle !important;
}

.p-button {
  background-color: rgb(88, 165, 238) !important;
}
