<div #roadmap>
    <h1>Trainers roadmap</h1>
    <button (click)="updateGame(game)">UpdateGame</button>
    
    <div *ngIf="game; else elseBlock">
        <phaser-game (mapDataEmitter)="getMapData($event)" [gameUpdateSubject]="gameUpdateSubject" [validatorSubject]="validatorSubject" [type]="'linear'" [direction]="'bottom'" [width]="500" [height]="1000" (validateEmitter)="validate($event)" (gotoEmitter)="goto($event)" (updateEmitter)="update($event)" (finishEmitter)="finish($event)"></phaser-game>
    </div>
    <ng-template #elseBlock>
        <h1 id="title ">Loading roadmap...</h1>
    </ng-template>
</div>